# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules/

# misc
/.env*
/.vite/
/.pnp*
.pnp.*

# ember-try
/.node_modules.ember-try/
/npm-debug.log*

/dist/
