name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

##############################################################

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lints:
    name: "Lint"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: wyvox/action@v1
      - run: pnpm lint

  node_tests:
    name: "Node Tests"
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: wyvox/action@v1
      - run: pnpm test:node
